{% extends 'base.html.twig' %}

{% block title %}Edit Consulta{% endblock %}

{% block body %}
    <h1>Editar Consulta</h1>

    <div class="container">
         <div class="row">
            <div  class="col-lg-2"></div>
            <div  class="col-lg-10">
              <div class="row">
               <div class="col-lg-2">
                {{ include('consulta/_delete_form.html.twig') }}
                </div>
               <div class="col-lg-4">
                <a href="{{ path('consulta_index') }}">Volver a la lista</a>
               </div>
             </div>
            </div>
        </div>
     </div>

</br>

    <div class="container">
        <div class="row">
          <div  class="col-lg-12">
    {{ include('consulta/_form.html.twig', {'button_label': 'Actualizar'}) }}
           </div>
        </div> 
    </div> 
                
{% endblock %}
